*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, li, span, label{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

header{
    height: 150px;
    background-color: antiquewhite;
    width: 100%;
    float: left;
}

main{
    height: 150vh;
    background-color: lightblue;
    width: 100%;
    float: left;

    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(95,90,227,1) 31%, rgba(123,86,205,1) 32%, rgba(163,81,175,1) 39%, rgba(218,74,133,1) 54%, rgba(169,80,171,1) 56%, rgba(193,77,152,1) 62%, rgba(182,78,161,1) 63%, rgba(252,70,107,1) 100%);
}

footer{
    float:left;
    height: 200px;
    width: 100%;
    padding: 50px 100px;
}

.footer-column{
    float: left;
    width: 200px;
}

.footer-nav-title{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.newsletter-container{
    float: right;
    width: 450px;
}

.form-input-container{
    width: 100%;
}

.newsletter-input{
    width: 73%;
    height: 25px;
}

.newsletter-button{
    width: 23%;
    height: 25px;
}

.form-input-container{
    margin-top: 20px;
}

i{
    margin-top: 25px;
    font-size: 20px;
}

